@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
}

@layer components {
  .waterloo-color-bars {
    height: 7px;
    width: 100%;
    display: flex;
  }
  
  .color-bar {
    height: 100%;
    width: 25%;
    float: left;
  }
  
  .color-bar-1 {
    background-color: rgb(255, 254, 174);
  }
  
  .color-bar-2 {
    background-color: rgb(254, 232, 79);
  }
  
  .color-bar-3 {
    background-color: rgb(254, 212, 91);
  }
  
  .color-bar-4 {
    background-color: rgb(227, 179, 58);
  }
}